body{
    background-color: aqua;
    min-height: 100%;
    max-width:600px;
     margin: 0 auto;
}



.content {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.content .logodiv{
    display: flex;
}

.content .logodiv img {
    width:10%;
}

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;

}


.post ul {
    padding: 0;
    list-style:none ;
}

.post li {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 17px;
    list-style: none;
    position: relative;
}

.posts .edit-div{
    position: absolute;
    right:15px;
    top:15px;
    display: "none";
}

.post li.logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 20%;
}

.post li .name_body {
    flex-basis: 85%;
}

.post li .name_body.name {
    font-weight: bold;

}

.post li .name_body.datetime {
    color: gray;
}

@media screen and (max-width: 500px) {
    .post li .name_body.name {
        font-size: 20px;
    }

}
